
.user-image{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.user-name{
    align-self: center;
}
.fa-circle-notch{
    padding-left: 220px;
}
.fa-search2{
    padding-left: 460px;
}
.fas{
    color: lightgray;
    align-self: center;
}

.fa-bell-slash{
    font-size: 30px;
    color: white;
}
.left-container{
    background-color: rgb(21, 196, 219);
}
.right-container{
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 62px);
}
.input-search{
    width: 350px;
    border-radius: 10px;
    border: none;
}
.contacts-chat{
    overflow: scroll;
    height: calc(100vh - 165px);
}
