<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>

<body>
    <div id="root">
        <div class="all-container">
            <div class="left-side">
                <div class="user-container">
                    <div class="user-stuff">
                        <img src="img/avatar_io.jpg" class="user-image">
                        <span class="user-name">Nome Utente</span>
                    </div>
                    <div class="user-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notification">
                    <div class="bell-icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notification-text">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <a href="#">Attiva le notifiche desktop</a>
                    </div>
                </div>
                <div class="search-bar">
                    <div class="search-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="bar">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search"> 
                    </div>
                </div>
                <div class="users-chat">
                    <div class="contact" v-for="(contact, index) in filterChat" 
                        :class="{'active' : index == selectAvatar}" @click="selectChat(index)">
                        <img :src="filteredImage(contact)" class="user-image">
                        <span class="user-name">{{ contact.name }} 
                        <h6 class="last-message">{{ contact.messages.slice(-1)[0].text }}</h6></span>
                        <span class="last-date-message">{{ contact.messages.slice(-1)[0].date }}</span> 
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="user-container">
                    <div class="user-stuff">
                        <img :src="'img/avatar' + filterChat[selectAvatar].avatar + '.jpg'" class="user-image">
                        <span class="user-name">{{ filterChat[selectAvatar].name }}
                        <h6 class="last-access-date">Ultimo accesso oggi alle {{ filterChat[selectAvatar].messages.slice(-1)[0].date }}</h6></span>
                    </div>
                    <div class="user-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="text-area-container">
                    <div class="message-chat" v-for="(message, index) in filterChat[selectAvatar].messages" 
                    :class="(message.status == 'sent') ? 'message-green' : 'message-white'">
                     <span class="text-content">{{ message.text }}</span>
                     <h6 class="date-content">{{ message.date }}</h6>
                    </div>
                </div>
                <div class="texting-area">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keydown.enter="addNewMessage(selectAvatar)">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>











    <script type="text/javascript" src="js/myscript.js"></script>
</body>

</html>